CPC_PROJECTS=$(HOME)/Projects/cpc-projects

# Default CPC model for the emulator (can be overridden per-run with MODEL=xxx)
# 464   - CPC464
# 664   - CPC664
# 6128  - CPC6128  (default)
# 6128p - CPC6128+
CPC_MODEL=6128
